<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Nathan Foster Resume</title> -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <body>
     <%= render "navbar/navbar" %>

    <%= yield %>
    <%= button_tag "",  {:class => 'fa fa-arrow-up hidden-print go-top', :href => '#'} %> 
     
    <footer class="text-center hidden-print">
        <p>&copy; <%= Date.today.year %> Nathan Foster.</p>
      </footer>
  </body>
</html>
